.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.card{
    background: #ffffff;
    width: 350px;
    padding: 40px;
    border: 1px solid #667eea;
    border-radius: 12px;
    text-align: center;
}

.card h1{
    margin-bottom: 20px;
    color: #333;
}

.formGroup{
    margin-bottom: 15px;
    text-align: left;
}

.formGroup label{
    display: block;
    margin-bottom: 5px;
    font-weight: 500;
    color: #333;
}

.formGroup input{
    width: 100%;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #ccc;
    outline: none;
    
}

.form-group input:focus {
  border-color: #667eea;
  box-shadow: 0 0 5px rgba(102, 126, 234, 0.5);
}

.errorText {
  color: red;
  font-size: 14px;
  margin-bottom: 10px;
}


.loginBtn {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 6px;
  background-color: #667eea;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

.loginBtn:hover {
  background-color: #5563c1;
}


.registerText {
    color: #333;
  margin-top: 15px;
  font-size: 14px;
}

.registerText a {
  color: #667eea;
  font-weight: 500;
}

.registerText a:hover {
  text-decoration: underline;
}
