.container {
    padding: 40px;
    background-color: #f9fafb;
    min-height: 100vh;
    font-family: Arial, sans-serif;
}

.title {
    text-align: center;
    margin-bottom: 40px;
    font-size: 28px;
    color: #1f2937;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.card {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.08);
    transition: 0.3s ease;
    cursor: pointer;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
  transition: 0.3s ease;
}

.cardTitle {
  font-size: 18px;
  margin-bottom: 10px;
  color: #111827;
}

.cardDescription {
  font-size: 14px;
  color: #6b7280;
}

.card i {
  display: inline-block;
  margin-top: 5px;
  font-size: 13px;
  font-style:oblique;
  font-weight: 500;
  padding: 5px;
  border-radius: 20px;
}

.active{
  background-color: #dcfce7;
  color: #116400;
}
.inactive{
  background-color: #fee2e2;
  color: #ff0000;
}