/* Page container */
.container {
    padding: 30px;
    background-color: #f9fafb;
    min-height: 100vh;
}


.title {
    text-align: center;
    font-size: 26px;
    margin-bottom: 20px;
    color: #111827;
}

.competitionInfo {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 1px solid #111827;
    border-radius: 20px;
    margin: 0px 20px;
    margin-bottom: 20px;
    align-items: center;
}

.competitionInfo>div {
    text-align: center;
    padding: 20px;
}


.activeStatus {
    
    color: #166534;
    padding: 4px 10px;
    border-radius: 20px;
    font-size: 13px;
    font-weight: 600;
}

.inactiveStatus {
    
    color: #991b1b;
    padding: 4px 10px;
    border-radius: 20px;
    font-size: 13px;
    font-weight: 600;
}


.evaluateBtn {
    padding: 10px 18px;
    background-color: #3b82f6;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 15px;
    cursor: pointer;
    margin-bottom: 25px;
    transition: 0.3s;
}

.evaluateBtn:disabled {
    background-color: #93c5fd;
    cursor: not-allowed;
}

.evaluateBtn:hover:not(:disabled) {
    background-color: #2563eb;
}


